
.hidden {
    display: none;

    -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 2s; /* Firefox < 16 */
    -ms-animation: fadein 2s; /* Internet Explorer */
    -o-animation: fadein 2s; /* Opera < 12.1 */
    animation: fadein 2s;
}


.ui-state-hover {
    color: #0275d8 !important;
    text-decoration: none;
}

.content-header {
    margin-left:15px;
}

.panel-title.no-padding {
    padding:0px !important;
}

.agenda-container {
    margin-right:0px;
}

.agenda-data {
    height: 660px;
    overflow-y: scroll;
}

.cursor {
    cursor: pointer;
    color: #a8a8a8;
}

.month-row-template {
    margin-top:12px;
}