{{ form_start(form, {'attr': {'novalidate': 'novalidate', 'id' : 'popup-form'}} ) }}
<div class="row">
    <div class="col-md-12 form-group">
        {{ form_row(form.title, {'attr': {'class' : 'form-control' }}) }}
    </div>
</div>
<div class="row form-group">
    <div class="col-md-12">
        {{ form_row(form.description, {'attr': {'class' : 'form-control' }} ) }}
    </div>
</div>
{{ form_end(form) }}
