<!DOCTYPE html>
<!-- saved from url=(0041)https://getbootstrap.com/examples/signin/ -->
<html lang="en"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Login - Homework Buddy</title>

    <!-- Bootstrap core CSS -->
    <link href=".{{ asset('bundles/css/bootstrap-4/bootstrap.min.css') }}" rel="stylesheet">


    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body style="background-color: #F5F5F5;">

<div class="container">
    <div class="login-wrapper d-flex justify-content-center">

        <form id="sign-in-form" class="form-signin" method="post" action="{{ path('login') }}">
            <input type="hidden" name="_target_path" value="dashboard" />
            <h2 class="form-signin-heading">Vul uw gegevens in</h2>
            {% if error %}
                <div class="form-group">
                    <div class="alert alert-danger">
                        Ongeldige gegevens
                    </div>
                </div>
            {% endif %}
            <label for="inputEmail" class="sr-only">Email address</label>
            <input type="email" name="_username" class="form-control" placeholder="Email address" required="" autofocus="">
            <label for="inputPassword" class="sr-only">Password</label>
            <input type="password" name="_password" class="form-control" placeholder="Password" required="">
            <div class="checkbox">
                <label>
                    <input type="checkbox" value="remember-me"> Remember me
                </label>
            </div>
            <button class="btn btn-lg btn-primary btn-block" style="cursor: pointer;" type="submit">Login</button>
            <a href="{{ path('register') }}">Registreren</a>
        </form>
    </div>

</div> <!-- /container -->

<style>
    .login-wrapper {
        margin-top:220px;
    }

    #sign-in-form {
        background-color: #FFFFFF;
        padding: 30px;
        -webkit-border-radius:5px;
        -moz-border-radius:5px;
        border-radius:5px;
    }
</style>

</body></html>